{{> header}}
<section class="detailsMyPet">
    <span style="display: none">{{pet}}</span>
    <h3>{{pet.name}}</h3>
    <p>Pet counter: <i class="fas fa-heart"></i> {{pet.likes}}</p>
    <p class="img"><img src="{{pet.imageURL}}">
    </p>
    <form action="#/edit/:{{pet._id}}" method="POST">
        <textarea name="description">{{pet.description}}</textarea>
        <button class="button">Save</button>
    </form>
</section>
{{> footer}}