{{> header}}
<section class="detailsOtherPet">
    <span style="display: none">{{pet}}</span>
    <h3>{{pet.name}}</h3>
    <p>Pet counter: {{pet.likes}} <a href="#">
        <a href="#/dashboard/pet/:{{pet._id}}">
            <button class="button"><i class="fas fa-heart"></i> Pet</button>
        </a>
    </a>
    </p>
    <p class="img"><img src="{{pet.imageURL}}"></p>
    <p class="description">{{pet.description}}</p>
</section>
{{> footer}}